<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">

    <title>天气查询</title>
</head>

<body>
    <div id="app">
        <!-- logo及查询框 -->
        <div class="search_box">
            <div class="logo"><img src="../img/2022040617221600_c.jpg" alt="logo">
            </div>

            <div class="search_form">
                <input type="text" name="city" class="input_txt" placeholder="请输入查询城市名称" @keyup.enter="searchWeather" v-model="city">
                <button class="search_start" v-on:click="searchWeather">查询</button>
            </div>
            <!-- 快捷访问城市 -->
            <div class="exemple_city">
                <a href="javascript:;" v-on:click="otherCity('上海')">上海</a>
                <a href="javascript:;" v-on:click="otherCity('杭州')">杭州</a>
                <a href="javascript:;" v-on:click="otherCity('武汉')">武汉</a>
                <a href="javascript:;" v-on:click="otherCity('新疆')">新疆</a>
                <a href="javascript:;" v-on:click="otherCity('广州')">广州</a>

            </div>

        </div>
        <!-- 显示查询结果 -->
        <div class="result" v-if="weather_list.length!=0">
            <p class="searchString" v-show="weather_list.length!=0">未来七日的天气： </p>
            <ul class="weather_list">

                <li v-for="(item, index) in weather_list" :key="index">
                    <div class="show_wea">
                        <span>{{item.wea}}</span>
                    </div>
                    <div class="show_temp">
                        <p> {{item.tem_night}}℃~{{item.tem_day}}℃</p>
                    </div>

                    <div class="show_win">
                        <p>{{item.win}}</p>
                    </div>
                    <div class="show_day">
                        <p>{{item.date}}</p>

                    </div>

                </li>
            </ul>
        </div>

    </div>

</body>
<script src="./vue.js"></script>
<script src=""></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./main.js"></script>


</html>